<div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
  <div class = box1>
    im an inline-block!
  </div>
</div>
<div class = box>
  Im just a block.
</div>


<!--<div class = "container">
  <nav>
    <ul>
      <li><a>Home</a></li>
      <li>Taco Menu</li>
      <li>Draft List</li>
      <li>Hours</li>
      <li>Directions</li>
      <li>Contact</li>
    </ul>
  </nav>
  <div class = "column">
    <section>
      section1
    </section>
    <section>
      ;ubhaierjonvmaec,[
      aerghae rhmviropciaomfa,c
      ergvoaehimoae[,ufi vahoesuoriwh eeioajf wkbdnjopvabndfa
      argfeiaheuafe u9fjowhsuoiejfw
    </section>
    <section>
      section3
    </section>
  </div>
</div>
<footer>
  This is the footer
</footer>
-->
<!--
<div class = background>
</div>
<div class = white>
  <div class = box>
      <input placeholder="username" type = text class = words>
  </div>

  <div style = "margin-top: 15px" class = box>
      <input placeholder="password" type = password class = words>
  </div>

  <div style = "margin-top: 15px" class = box>
      <button class = log>
        LOGIN
      </button>
  </div>

  <div class = register>
    <small>
      Not registered?
    </small>

    <span style = "left: 5px">
      <button class = create>
          Create an account
      </button>
    </span>
  </div>
</div>

-->
