
<h4>These are available ingredients</h4>

<button class="btn btn-primary" (click)="addBun()" style="margin-right: 10px"> Add Bun</button>
<button class="btn btn-primary" (click)="addChicken()" style="margin-right: 10px"> Add Chicken</button>
<button class="btn btn-primary" (click)="addBeef()" style="margin-right: 10px"> Add Beef</button>
<button class="btn btn-primary" (click)="addLettuce()" style="margin-right: 10px"> Add Lettuce</button>
<button class="btn btn-primary" (click)="addTomato()" style="margin-right: 10px"> Add Tomato</button>


<p> {{ bun }}</p>
<p> {{ chicken }}</p>
<p> {{ beef }}</p>
<p> {{ lettuce }}</p>
<p> {{ tomato  }} </p>


<button class="btn btn-primary" (click)="makeDish()" style="margin-right: 10px"> Make Dish</button>
<p>{{dish}}</p>



<hr>
<h4>This is a StudentList managed by ngfor loop</h4>
<div *ngFor="let student of students">
  <div style="margin-bottom: 2px;border-left: solid 2px; border-right: solid 2px; border-bottom: solid 2px; border-top: solid 2px; display: flex; justify-content: space-between">
    <div><span style="color: cornflowerblue; margin-right: 5px">Student Name: </span> <span> {{ student.name }}</span></div>
    <div><span style="color: cornflowerblue; margin-right: 5px">Student Major: </span> <span>{{ student.major }}</span></div>
  </div>
</div>
